/*Extra small devices (portrait phones, less than 576px*/
@media (max-width: 575.98px) {

      /*header start*/
 header{
    padding: 0 ;
 }   
 .logo{
    width: 170px;
 }
 .menu ul li a{
    margin-bottom: 5px;
    padding: 0 10px !important ;
} 
/*banner start */
.banner{
    padding-bottom: 60px;
}
.b_text{
    text-align: center;
}
.bh1{
    
    padding: 0;
    font-size: 30px;
    line-height: 40px;
}
.bp2{
    padding: 0;
    line-height: 26px;
}
.btn_link{
    margin: 15px auto 0;
}
.b_img{
    margin-bottom: 30px;
    padding: 0 ;

 }  
}

 /*Small devices (landscape phones, 576px and */
@media (min-width: 576px) and (max-width: 767.98px) {

    /*header start*/
 header{
    padding: 5px 0;
 }   
 .logo{
    width: 180px;
 }
 .menu ul li a{
    margin-bottom: 5px;
    padding: 0 10px !important ;
}   
/*banner start */
.b_text{
    text-align: center;
}
.bh1{
    
    padding: 0 90px;
    font-size: 35px;
    line-height: 50px;
}
.bp2{
    padding: 0 40px;
    line-height: 30px;
}
.btn_link{
    margin: 15px auto 0;
}
.b_img{
    margin-bottom: 30px;
    padding: 0 60px;

 }
}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*header start*/
 .menu ul li a{
    margin-bottom: 5px;
    padding: 0 10px !important ;
} 
/*banner start */
.b_text{
    text-align: center;
}
.bh1{
    padding: 0 130px;
    line-height: 60px;
}
.bp2{
    padding: 0 100px;
    line-height: 30px;
}
.btn_link{
    margin: 15px auto 0;
}
.b_img{
    margin-bottom: 30px;
    padding: 0 80px;

 }
}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    /*banner start*/
.bh1{
    
    padding:0 4px 0 0  ;
    font-size:43px ;
}
.bp2{
    padding: 0 0 0 0 ;
}

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
.bh1 {
     padding: 0 30px 0 0;}
.bp2 {
    padding: 0 50px 0 0;
}

 /*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {}
